html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 16px;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
}

*, ::after, ::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}


/* Welcome screen */

.welcome {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #17212B;
  align-items: center;
  justify-content: center;
}

.welcome__login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 360px;
}

.welcome__icon-block {
  display: inline-block;
  width: 139px;
  height: 139px;
  position: relative;
  border-radius: 50%;
  background: #232F3D;
  overflow: hidden;
  margin-bottom: 29px;
}

.welcome__icon-elem {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome__title {
  margin-bottom: 13px;
  font-size: 24px;
}

.welcome__desc {
  width: 80%;
  text-align: center;
  color: #7F91A4;
  margin-bottom: 36px;
}

.form {
  width: 90%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.form__block {
  margin-bottom: 60px;
  width: 100%;
}

.form__input {
  background: #17212B;
  border: 0;
  outline: none;
  box-sizing: border-box;
  color: #fff;
}

.form__input--large {
  border-bottom: #465461 1px solid;
  padding: 11px;
  width: 100%;
}

.form__input--small {
  width: 100%;
}

input::-moz-placeholder {
  color: #5B6774;
  font-weight: 300;
}

input::-webkit-input-placeholder {
  color: #5B6774;
  font-weight: 300;
}


.btn {
  display: inline-flex;
  text-decoration: none;
  line-height: 1;
  border: none;
  cursor: pointer;
}

.btn--large {
  padding: 13px 39px;
  text-transform: uppercase;
}

.btn--blue {
  background: #5188C1;
  border-radius: 5px;
  color: #fff;
}

.btn--small {
  font-size: 14px;
  padding: 6px 20px;
}


/* Chat */

.chat {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #17212B;
}

.chat__left-section {
  display: flex;
  flex-direction: column;
  padding: 65px 10px 10px;
  width: 20%;
  min-width: 200px;
  border-right: #0E1621 1px solid;
}

.users__user {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.users__user:last-child {
  margin-bottom: 0;
}

.user__picture-container {
  display: inline-block;
  width: 46px;
  height: 46px;
  position: relative;
  border-radius: 50%;
  background: #232F3D;
  overflow: hidden;
  margin-right: 10px;
  background-size: cover;
}

.user__nickname {
  color: #5387C1;
  font-size: 14px;
}

.user__last-message {
  color: #7F91A4;
  font-size: 14px;
}


.chat__main-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main__top-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 56px;
  padding: 0 16px;
  min-height: 56px;
}

.main__title {
  font-size: 14px;
  margin-bottom: 4px;
}

.main__members {
  font-size: 12px;
  color: #7F91A4;
}

.main__conversation-section {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  padding: 0 10px;
  overflow-y: auto;
}

.conversation {
  background: #0E1621;
}

.conversation__message {
  display: flex;
  max-width: 50%;
  margin-bottom: 10px;
}

.message__user-pic {
  display: inline-block;
  width: 33px;
  height: 33px;
  min-width: 33px;
  position: relative;
  border-radius: 50%;
  background: #232F3D;
  overflow: hidden;
  margin-top: 25px;
  background-size: cover;
}

.message__nickname {
  color: #5387C1;
  font-size: 14px;
  margin-bottom: 8px;
}

.someone-message .message__user-pic {
  margin-right: 10px;
}

.own-message {
  align-self: flex-end;
}

.own-message .message__user-pic {
  margin-left: 10px;
}

.message__block {
  display: flex;
  flex-direction: column;
}

.own-message .message__block {
  align-items: flex-end;
}

.someone-message .message__block {
  align-items: flex-start;
}

.message__unit {
  padding: 8px 4px 8px 21px;
  border-radius: 3px;
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
}

.message__unit:last-child {
  margin-bottom: 0;
}

.someone-message .message__unit {
  background: #182633;
}

.own-message .message__unit {
  background: #2B5279;
}

.message__text, .service-message__text {
  margin-right: 15px;
}

.message__time {
  color: #658FB7;
  font-weight: 300;
  align-self: flex-end;
  margin-bottom: -5px;
}

.service-message {
  display: flex;
  justify-content: flex-start;
  max-width: 45%;
}

.service-message__text, .service-message__time {
  color: #5B6774;
  font-weight: 300;
  font-size: 16px;
}


.main__bottom-line {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0 10px 0 16px;
  min-height: 56px;
}

.message-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.message-form__block {
  flex-grow: 2;
}


.hamburger {
  width: 22px;
  height: 14px;
  justify-content: space-between;
  z-index: 100;
  display: inline-flex;
  position: fixed;
  flex-direction: column;
  top: 20px;
  left: 23px;
}

.hamburger__plank {
  display: block;
  background: #6C7982;
  height: 2px;
}


.fullscreen-modal {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  overflow-x: hidden;
  z-index: 110;
}

.fullscreen-modal--active {
  display: block;
}

.modal__window {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 364px;
  height: 220px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #17212B;
  border-radius: 4px;
  padding: 32px 35px 42px;
  justify-content: space-between;
}

.modal__title {
  font-size: 18px;
}

.modal__desc {
  font-size: 12px;
  color: #5B6774;
  font-weight: 300;
}

.modal__content {
  display: flex;
  align-items: center;
}

.modal__pic-preview {
  display: inline-block;
  width: 86px;
  height: 86px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
}

.modal__nickname {
  font-size: 18px;
}

.fullscreen-modal__close-btn {
  position: absolute;
  top: 18px;
  right: 18px;
}

.btn-close-modal {
  width: 25px;
  height: 25px;
}

.btn-close-modal:before, .btn-close-modal:after {
  position: absolute;
  background-color: #747E87;
  left: 12px;
  content: "";
  height: 25px;
  width: 2px;
  z-index: 180;
}

.btn-close-modal:before {
  transform: rotate(45deg);
}

.btn-close-modal:after {
  transform: rotate(-45deg);
}

